name: Release

on:
  merge_group:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

# Needed for semantic-release to create GitHub releases and publish to npm via OIDC
permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

concurrency:
  group: Release
  cancel-in-progress: false

jobs:
  release:
    name: Semantic Release
    environment: Release
    # Ensure releases run only when code reaches main via GitHub Merge Queue, or when manually dispatched
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
          registry-url: 'https://registry.npmjs.org'
      - name: Update npm
        run: npm install -g npm@latest
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint
      - name: Run unit tests
        run: npm run test:ci
      - name: Semantic Release
        if: ${{ github.event_name == 'push' }}
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
      - name: Publish to NPM
        run: npm publish --provenance
